*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}
.blockquote {
    padding: 0.5em 1em;
    border-left: .25em solid #ccc;
    background-color: #f9f9f9;
    position: relative;
}
.blockquote-footer{
    padding: 0.5em 1em;
    background-color: #f9f9f9;
    position: relative;
}
.language-none{
    color: var(--bs-code-color)!important;
}
.bg-main-nav{
    background-color: #282828;
    color: #cbcbcb;
}
.bg-main-nav .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28235, 235, 235, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.bg-main-nav .navbar-toggler{
    border:0;
    color: rgb(235, 235, 235);
}
.main-title{
    font-size: 7vh;
}
.features-icon{
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.features p.card-text{
    text-indent: 1em;
}

.features [data-animate="fade-left"]{
    opacity: 0;
    transform: translateX(40px);
}
.features [data-animate="fade-right"]{
    opacity: 0;
    transform: translateX(-40px);
}
.authorization-form{
    width: calc(100% - 120px);
    place-self: center;
}
.authorization-form .card-body{
        background: #a6d4ed;
        background: -webkit-linear-gradient(180deg, rgba(103, 138, 157, 1) 0%, rgba(70, 92, 140, 1) 50%, rgba(26, 26, 94, 1) 100%);
        background: -moz-linear-gradient(180deg, rgba(103, 138, 157, 1) 0%, rgba(70, 92, 140, 1) 50%, rgba(26, 26, 94, 1) 100%);
        background: linear-gradient(180deg, rgba(103, 138, 157, 1) 0%, rgba(70, 92, 140, 1) 50%, rgba(26, 26, 94, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#A6D4ED", endColorstr="#1A1A5E", GradientType=0);
}
.authorization-form .tabs{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #046490;
    color: var(--bs-light);
}

.authorization-form .tab{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    font-size: var(--text-large);
    transition: background-color .3s;
    width: 100%;
    text-align: center;
}
.authorization-form .tab.active{
    background-color: var(--lightblue);
    color: #232323;
    font-weight: var(--fw-600);
}
.icon-required{
    color: #e40b0b;
}

.form-input-invalid [required],
.form-input-invalid input:required,
.form-input-invalid select:required{
    border: 2px solid rgba(255,0,0,0.5);
}

.error-msg{
    display: none;
    text-align: center;
    border-radius: 5px;
    padding: 0;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left:0;
    padding: 5px;
    /* Fallback for older browsers */
    background: rgba(245, 245, 245,0.95); /* fallback solid color */
    background: linear-gradient(180deg, rgba(245, 245, 245,0.95), rgba(244, 244, 244,0.95)); /* standard */
    background: -webkit-linear-gradient(180deg, rgba(245, 245, 245,0.95), rgba(244, 244, 244,0.95)); /* Chrome, Safari, newer Edge */
    background: -moz-linear-gradient(180deg, rgba(245, 245, 245,0.95), rgba(244, 244, 244,0.95)); /* Firefox */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5f2', endColorstr='#f4f4f4f2', GradientType=1); /* IE9 and earlier */
}

footer .social-bubble{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .social-bubble.social-github{
    background-color: var(--black);
}
footer .social-bubble.social-discord{
    background-color: var(--blue);
}
footer .social-bubble svg,
footer .social-bubble i{
    color: var(--white);
    font-size: 18px;
}
.cursor-pointer{
    cursor: pointer;
}

.tfa-panel{
    width: 75%;
    justify-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tfa-panel *{
    width: 100%;
}

.analysis-charts{
    max-height: 450px;
}
[data-spoiler]{
    display: block;
    cursor: pointer;
    border-radius: 3px;
    transition: all .2s;
}
[data-spoiler]:not([data-spoiler-show]){
    background-color: var(--gray);
    color: var(--transparent);
}
[data-spoiler]:not([data-spoiler-show]):hover{
    background-color: rgba(var(--gray-rgb),var(--opacity-75));
}

[data-no-select]{
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -ms-touch-select: none;
    -webkit-user-select: none;
}
.battery{
    position: relative;
}
.battery .battery-head{
    width:40px;
    height:15px;
    background-color: var(--lightgray);
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.battery .battery-body{
    width: 100px;
    height:200px;
    background-color: var(--transparent);
    margin: 0 auto;
    border: 4px solid var(--lightgray);
    border-radius:18px;
    position: relative;
}

.battery i{
    color: transparent;
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    animation: battery-bolt 2s linear infinite;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-image:  linear-gradient(180deg, rgba(var(--lightgray-rgb), var(--opacity-1)), rgba(var(--lightgray-rgb), var(--opacity-50)));
    background-clip: text;
}


.battery:not(.battery-horizontal) .charge{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    border-radius: 12px;
    transition: all 0.3s;
    background-image: var(--linear-gradient-180);
}


.battery.battery-horizontal{
    display: flex;
    flex-direction: row-reverse;
}

.battery.battery-horizontal .charge{
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    border-radius: 12px;
    transition: all 0.3s;
}

.battery.battery-horizontal .battery-head{
    width:15px;
    height:40px;
    background-color: var(--lightgray);
    margin: auto 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 5px;
}
.battery.battery-horizontal .battery-body{
    width: 200px;
    height:100px;
    background-color: var(--transparent);
    margin: auto 0;
    border: 4px solid var(--lightgray);
    border-radius:18px;
    position: relative;
}

.battery[battery-status="low"] .charge{
    background-color: var(--red);
}
.battery[battery-status="ok"] .charge{
    background-color: var(--yellow);
}
.battery[battery-status="good"] .charge{
    background-color: var(--green);
}
.battery[battery-status="excellent"] .charge{
    background-color: var(--lime);
}

@keyframes battery-bolt {
    50% {
        transform: translate(-50%,-50%) scale(1.3);
    }

    100% {
        transform: translate(-50%,-50%) scale(1);
    }
}



#dashboard-nav li{
    border:0;
}

#dashboard-nav [data-bs-toggle="collapse"] li::after{
    content: '\f107';
    font-family: var(--fa-family-classic);
    color: inherit;
    float: inline-end;
}
#dashboard-nav [data-bs-toggle="collapse"][aria-expanded="true"] li::after{
    content: '\f106';
    font-family: var(--fa-family-classic);
    color: inherit;
    float: inline-end;
}


.supportDesk-container .avg-status{
    font-size: 15px;
    color: var(--bs-secondary)
}

.supportDesk-container .avg-status.avg-status-positive{
    color: var(--bs-success)
}
.supportDesk-container .avg-status.avg-status-positive::before{
    content: '\f0d8';
    font-family: var(--fa-family-classic);
    font-weight: 800;
    margin-right: 5px;
}

.supportDesk-container .avg-status.avg-status-negative{
    color: var(--bs-danger)
}
.supportDesk-container .avg-status.avg-status-negative::before{
    content: '\f0d7';
    font-family: var(--fa-family-classic);
    font-weight: 800;
    margin-right: 5px;
}

#device-map{
    max-height: 430px;
    height: 600px;
}
#supportTickets-table tbody tr{
    cursor: pointer;
}


.image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}
.preview-image {
    max-width: 150px;
    max-height: 150px;
    display: block;
}
.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    font-size: 1.6vh;
    padding: 2px 0;
}
.image-container span.image-remove {
    position: absolute;
    top: 0;
    left: 3px;
    font-size: 2vh;
    color: darkslategrey;
    cursor: pointer;
    z-index: 1;
    font-weight: 800;
}
#supportTickets-table tbody tr td:nth-child(3){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}
p{white-space: pre-line;}

.ticket-container{
    padding: 1em;
    box-shadow: 0 0 5px var(--lightgray);
    border-radius: 5px;
    max-height: 470px;
    overflow-y: auto;
}
.ticket-container .ticket-title{
    margin-bottom: 1.5em;
}
.ticket-container .ticket-title .ticket-subject{
    font-weight: 800;
    font-size: 3vh;
    margin-bottom: 0;
}
.ticket-container .ticket-title .ticket-author{
    font-style: italic;
}
.ticket-container .ticket-description{
    height: 360px;
    overflow-y: auto;
    box-shadow: 0 0 5px var(--gray);
    padding: 3px 5px;
    border-radius: 5px;
}
.ticket-container .ticket-attachments{
    margin-top: 1rem;
}
.ticket-container .ticket-attachments-label{
    font-size: 2.5vh;
    font-weight: 900;
}
.ticket-container .ticket-attachments-gallery{
    display: flex;
    flex-wrap: wrap;
}



/* Hide the dropdown by default */
[data-select] + div {
    opacity: 0;
    height: 0;
    overflow-y: auto;
    transition: all 0.2s;
}

/* Show the dropdown when input or its container is focused */
[data-select]:focus + div,
.select-list:has([data-select]):focus-within,
.select-list:has([data-select]):focus-within div:focus-within{
    opacity: 1;
    height: auto;
}

/* Style for options */
[data-select] + div .select-options {
    cursor: pointer;
    transition: 0.2s;
    padding: 0 5px;
}

/* Hover effect for options */
[data-select] + div .select-options:hover {
    background-color: rgba(var(--gray-rgb), var(--opacity-50));
}

/* Positioning for container div when it has a [data-select] element inside */
.select-list:has([data-select]) {
    position: relative;
}

.randomAssetTag{
    position: absolute;
    top:55%;
    right: 25px;
    cursor: pointer;
}

.disabled{
    background-color: var(--bs-secondary-bg);
    opacity: 1;
    pointer-events: none;
}