@import url('facial.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.blockquote {
    padding: 0.5em 1em;
    border-left: .25em solid #ccc;
    background-color: #f9f9f9;
    position: relative;
}
.blockquote-footer{
    padding: 0.5em 1em;
    background-color: #f9f9f9;
    position: relative;
}
.language-none{
    color: var(--bs-code-color)!important;
}